<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicação de Lista</title>
    <!-- Vincula os estilos definidos no arquivo index.css -->
    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    {% endblock %}
</head>
<body>
    <div class="container">
        

        <!-- Bloco de conteúdo que será substituído pelos templates específicos -->
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
