{% extends "base.html" %}


{% block content %}
<h3>Mapa do Pavilhão: {{ data.nome }}</h3>

{% if data.ilhas_colunas %}
    {% for ilha in data.ilhas_colunas %}
    <table class="frequencia">
        <thead>
        <tr class="ilha-header">
                <td colspan="6">Setor: <strong>{{ ilha.nome }}</strong></td>
            </tr>
            <tr>
                
                <th  colspan="4">Permissionário</th>
                <th>Bancas</th>
                <th>Contrato</th>
            </tr>
        </thead>
        <tbody>
            

            {% if ilha.bancas_agrupadas %}
                {% for banca in ilha.bancas_agrupadas %}
                    
                    <tr>
                
                        <td class="permissionario" colspan="4">{{ banca.permissionario }}</td>
                        <td class="bancas">{{ banca.intervalo }}</td>
                        <td class="venc">{{ banca.tipo }}</td>  
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4"><em>Nenhuma banca cadastrada</em></td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <br><br>
{% endfor %}

{% else %}
    <p>Nenhuma ilha/coluna cadastrada para este pavilhão.</p>
{% endif %}

<a href="{{ url_for('lists.list_lists') }}">← Voltar</a>
{% endblock %}




