{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block content %}
    <h3>Pavilhões:</h3>

    <ul class="list" id="list">
        {% for pavilhao in data %}
            <li>
                <span>{{ pavilhao.nome }}</span>
                <div class="button-group">
                    <a href="{{ url_for('lists.list_frequencia', id_pavilhao=pavilhao.id) }}">Frequência</a>
                    <a href="{{ url_for('lists.list_mapas', id_pavilhao=pavilhao.id) }}">Mapa</a>
                </div>
            </li>
        {% endfor %}
    </ul>

    <div class="add-button" id="addButton">
        <a href="{{ url_for('lists.list_send') }}">
            <span class="material-icons">add</span> Criar nova lista
        </a>
    </div>
{% endblock %}
