{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block content %}
	
<div class="content-area">
    <h3>Mapa </h3>

    {% for ilha in data %}
    <ul class="list" id="list">
        <li>
            <span>{{ ilha.nome }}</span>
            <div class="button-group">
                <a href="{{ url_for('lists.list_mapas_editar', id_ilhacoluna = ilha.id) }}">Editar</a>
            </div>
        </li>
    </ul>

    <table class="grid-map">
        <tbody>
            {% for linha in range(10) %}
                <tr>
                    {% for coluna in range(20) %}
                        <td>{{coluna}}
                            <!-- Aqui você pode checar se existe um mapa correspondente a linha/coluna -->
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
{% endfor %}

</div>
{% endblock %}
